body {
       background-color: #;
}



.content{
  max-width: 960px;
  
  
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color: #ee1010;
  padding-right: 1.5rem;
    padding-left: 1.5rem;
}

h1 {
  color: fuchsia;
}

h2 {
    background-color: silver;
  padding: 17px;
    
nav a {
    color: #ee1010;
}    

.banner-box{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: auto;
}

.home-grid{
  padding-top: 3em;
  padding-right:3em;
  padding-left: 3em;
  padding-down:3em;
  
}

.paragraph{
  float: left;
  width: 500px;
  border: 0px solid #73AD21;
  padding: 10px;
}



.home-paragraph-3{
  text-align: center;
  
}