@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {
       background-color: #;
}



.content{
  max-width: 960px;
  
  
}

.navbar-nav{
   float: right;
    
}

h1 {
  color: fuchsia;
  padding-top: 10px
}

h2 {
    background-color:#E7C24F;
  margin-top:15px;
  margin-bottom:10px;
  padding-top: 10px;
  padding-bottom: 10px;
    
nav a {
    color: #ee1010;
}    
  
  

.banner-box{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: auto;
}

.home{
  margin-top:10px;
  margin-right:10px;
  margin-left:1000px;
  margin-bottom:10px;
  padding-top: 3em;
  padding-right:3em;
  padding-left: 3em;
  padding-down:3em;
  background-color:red;
  
}

p.home-paragraph-2{
  font-size:1.1em;
  float: left;
  width: 500px;
  border: 0px solid #73AD21;
  padding: 10px;
}


