h1 {
  color: fuchsia;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.banner-box{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: auto;
}

.home-grid{
  padding-left: 2em;
  
}

.home-right-img{
  
  float:right;
  
}
